.fileUploader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
}
.uploadButton {
    display: flex;
    background-color: #F6F7FB;
    border-radius: 4px;
    align-items: center;
    cursor: pointer;
    margin-bottom: 30px;
    padding: 5px;
}
.logo {

}
.buttonText {

}
.buttonHeader {
    color: #354AFF;
    font-weight: bold;
    font-size: 18px;
}
.buttonBody {
    font-size: 12px;
}
.attention {
    font-size: 12px;
}
.logoPreview {
    width: 100px;
    height: 100px;
}
.logoPreview > img {
    min-width: 100%;
    transform: scale(1.1);
    opacity: 1;
    transition: opacity 4s ease-in-out;
}
.original {
    position: absolute;
}
.thumb {
    filter: blur(8px);
}
.hide {
    opacity: 0;
}
.uploaderContent {
    display: flex;
    justify-content: space-between;
}
.companyName {
    font-weight: bold;
    margin-bottom: 20px;
}
